.Skills {
  padding: 20px;
  margin-bottom: 50px; /* Ensure there is enough space below this component */
}

.backslash1 {
  font-size: 32px;
  font-weight: bold;
}

.Smain, .Secondmain {
  margin-bottom: 40px;
}

.skills-heading {
  font-size: 24px;
  font-weight: bold;
  margin-top: 40px;
  text-align: center;
  color: #333;
}

.Bargraph {
  margin-top: 20px;
}

.Planguage {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.progress {
  height: 20px;
  margin-bottom: 20px;
}

.percent1,
.percent2,
.percent3,
.percent4,
.percent5,
.percent6,
.percent7 {
  margin-right: 10px;
}
